<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="shobha"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.grid.OHRM_newtours"/>
<listEntry value="com.navya.Childinheritance"/>
<listEntry value="com.navya.Newprogram"/>
<listEntry value="com.keyworddriven.Loginkeyword"/>
<listEntry value="com.test.Simple_OHRM_Login"/>
<listEntry value="com.POMframework.Newtourshomepagetesting"/>
<listEntry value="com.ohrmtestscripts.Logintest"/>
<listEntry value="com.navya.Logingmail"/>
<listEntry value="com.POMframework.Welcomemercurytoursobjectrepository"/>
<listEntry value="com.test.Ohrmlogin"/>
<listEntry value="com.autoit.Uploadimage"/>
<listEntry value="com.navya.Inheritance"/>
<listEntry value="com.test.Newprogram"/>
<listEntry value="com.test.Gmaillogin"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
